---

---

<div
  class="text-sm bg-slate-900 text-slate-300 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="bg-white/20 dark:bg-slate-700 text-slate-100 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >1.6.0</span
  >
  <span class="text-slate-300 dark:text-slate-400 font-medium">
    Article-Tool 买断早鸟价 39.9 元，1.7.0 版本后计划恢复至 69.9 元。
  </span>
  <a
    href="https://pan.baidu.com/s/1JqpgmT9Wpub-Bl-Bhh27uQ?pwd=x44v"
    target="_blank"
    rel="noopener"
    class="ml-auto text-slate-100 hover:underline dark:text-slate-200 font-medium">下载软件 »</a
  >
</div>
